* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: "logo";
    src:
        url("fonts/Norse-Bold.woff2") format("woff2"),
        url("fonts/Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    margin: 0px 230px;
}

.sidebar {
    min-width: 300px;
    width: 47vw;
    background-image: url(images/orange-leaves.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 250%;
}

.image-background {
    background-color: hsl(0, 0%, 0%, 0.5);
    position: relative;
    top: 20vh;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.odin-logo {
    height: 100%;
}

.logo-title {
    font-family: "logo", sans-serif;
    color: white;
    font-size: 4.7em;
}

.credits {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(51, 38, 38);
    font-size: 0.8em;
    font-weight: lighter;
}

.credits a {
    color: rgb(51, 38, 38);
}

main {
    min-width: 600px;
    height: 100%;
}

.top-text-container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 160px 0px 40px;
    background-color: hsl(0, 0%, 95%);
}

.top-text-container h3:nth-child(2) {
    margin-top: 30px;
}

.form-section {
    background-color: rgb(255, 255, 255);
    height: 30%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 500px;
}

.signup-form div {
    margin-right: 50px;
    margin-bottom: 20px;
}

.signup-form div input {
    width: 200px;
    padding: 3px;
    border: 1px solid;
    border-color: #E5E7EB;
    border-radius: 3px;
    outline: none;
}

.signup-form div input:invalid {
    border-color: red;
}

.signup-form div input:focus {
    border-color: blue;
    box-shadow: 0 0 3px;
}

.signup-form div label {
    font-size: 0.6em;
}

.form-title {
    margin-top: 20px;
}

.signup-form div * {
    display: block;
}

.authenticate-container {
    background-color: hsl(0, 0%, 95%);
    height: 34%;
    padding: 20px 40px 0;
}

.authenticate span {
    display: block;
}

.create-account {
    padding: 12px 40px;
    font-size: 0.9em;
    border-radius: 5px;
    border: none;
    background-color: hsl(31, 100%, 45%);
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px hsl(0, 1%, 78%);
    margin-bottom: 25px;
}

.create-account:hover {
    cursor: pointer;
    background-color: hsl(31, 100%, 40%);
}

.login a {
    text-decoration: none;
    color: hsl(31, 100%, 45%);
    font-weight: bold;
}