* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: "logo";
    src:
        url("fonts/Norse-Bold.woff2") format("woff2"),
        url("fonts/Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    margin: 0px 230px;
}

.sidebar {
    min-width: 300px;
    width: 650px;
    background-image: url(images/orange-leaves.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 250%;
}

.image-background {
    background-color: hsl(0, 0%, 0%, 0.5);
    position: relative;
    top: 20vh;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.odin-logo {
    height: 100%;
}

.logo-title {
    font-family: "logo", sans-serif;
    color: white;
    font-size: 4.5em;
}

.credits {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(51, 38, 38);
    font-size: 0.8em;
    font-weight: lighter;
}

.credits a {
    color: rgb(51, 38, 38);
}

main {
    min-width: 600px;
    height: 100vh;
}

.form-section {
    background-color: beige;
}

.top-text-container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 160px 0px 40px;
    background-color: hsl(0, 0%, 95%);
}

.top-text-container h3:first-child {}

.top-text-container h3:nth-child(2) {
    margin-top: 30px;
}